body{
    margin: 0px;
    padding: 0px;
}

/* Link for explanation of CSS Grid: https://css-tricks.com/snippets/css/complete-guide-grid/#aa-introduction-to-css-grid */
#board{
    --board-size: min(75vw, 75vh);
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    grid-auto-flow: row;
    gap: 0px 0px;
}

.square{
    outline: solid 1px black;
    position: relative;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
}

.square.light{
    background-color: white;
}

.square.dark{
    background-color: darkgray;
}

/* Link to position to top-left and top-right of container: https://techstacker.com/put-elements-bottom-container-css/ */
.label{
    margin: 5%;
    position: absolute;
    font-size: min(16px, 5cqw);
}

.square.light > .label{
    color: darkgray;
}

.square.dark > .label{
    color: white;
}

.label.row{
    top: 0px;
    left: 0px;
}

.label.column{
    bottom: 0px;
    right: 0px;
}
