body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(206, 159, 111); /* Oak brown */
    font-family: "Courier New", monospace;
}

/*  
Link for explanation of CSS Grid: 
https://css-tricks.com/snippets/css/complete-guide-grid/#aa-introduction-to-css-grid 

Information about CSS Subgrid:
https://catalincodes.com/posts/one-problem-solved-with-css-subgrid
*/
#board-container{
    width: 75vmin;
    height: 75vmin;
    border: solid 1px black;
    display: grid;
    grid-template-rows: 97% 3%;
    grid-template-columns: 3% 97%;
    gap: 0px 0px;
    -webkit-user-select: none; /* Safari compatibility */
    user-select: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#row-label-container{
    position: relative;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template: repeat(8, 1fr) / 100%;
    grid-auto-flow: column;
}

#column-label-container{
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template: 100% / repeat(8, 1fr);
    grid-auto-flow: row;
}

#turn-container{
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    width: 75%;
    height: 75%;
    border-radius: 50%; /* Get circular effect */
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#board{
    position: relative;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    grid-auto-flow: row;
}

/* Turn container CSS information */
#turn-container.white{
    background-color: white;
}

#turn-container.black{
    background-color: black;
}

/* Control hiding and showing elements */
.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

/* Square CSS information */

.square{
    outline: solid 1px black;
    position: relative;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
}

.square.light{
    background-color: white;
}

.square.dark{
    background-color: darkgray;
}

.square.highlighted{
    background-color: rgba(152, 255, 152, 0.5);
}

.move-option{
    position: absolute;
    width: 25%;
    height: 25%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 50% 50%;
    background-color: rgba(92, 172, 45, 0.75);
    z-index: 1;
}

/*  
Link to position to top left and top right of container: 
https://techstacker.com/put-elements-bottom-container-css/ 
*/
.label{
    position: relative;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
    font-size: clamp(0.5rem, 0.4 + 0.5vw, 0.75rem);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

/*  
Link with spritesheets in CSS
https://www.tutorialstonight.com/background-image-in-css#how-to-add
https://stackoverflow.com/questions/2430206/how-can-i-scale-an-image-in-a-css-sprite#answer-56664704
*/
.sprite{
    background-image: url("../images/ChessMenSpriteSheet.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 600% 200%;
    z-index: 2;
    position: relative;
    top: 0px;
    left: 0px;
}

.sprite.selected{
    position: absolute;
    z-index: 3;
}

.sprite.white{
    background-position-y: 0%;
}

.sprite.black{
    background-position-y: 100%;
}

.sprite.king{
    background-position-x: 0%;
}

.sprite.queen{
    background-position-x: 20%;
}

.sprite.bishop{
    background-position-x: 40%;
}

.sprite.knight{
    background-position-x: 60%;
}

.sprite.rook{
    background-position-x: 80%;
}

.sprite.pawn{
    background-position-x: 100%;
}

/*  
Useful cursor effects for usability purposes
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
*/
#board:hover{
    cursor: default;
}

.square:has(> .sprite):hover{
    cursor: grab;
}